.forEmployers
{
  margin-left: 300px;
}
.groupChild {
  position: absolute;
  top: 0;
  margin-left: 174px;
  border-radius: 50%;
  background-color: #f6f6f6;
  width: 596px;
  height: 596px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--primary-p100);
  width: 219px;
  height: 94px;
}
.groupInner {
  top: 15px;
  left: 16px;
  background-color: var(--primary-300);
  width: 64px;
  height: 64px;
}
.k {
  margin: 0;
}
.candidatesHired {
  margin: 0;
  font-size: var(--font-size-smi-3);
  font-family: var(--font-garnett-light);
}
.kCandidatesHiredContainer,
.vectorIcon {
  position: absolute;
  top: 22px;
  left: 92px;
}
.vectorIcon {
  height: 30.11%;
  width: 12.92%;
  top: 35.11%;
  right: 71.55%;
  bottom: 34.79%;
  left: 15.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
@media (max-width: 768px) {
  .groupChild {
    width: 90%; /* Adjusted width for smaller screens */
    height: 90vw; /* Adjusted height relative to viewport width */
  }

  .groupInner {
    width: 15%; /* Adjusted width for smaller screens */
    height: 15%; /* Adjusted height for smaller screens */
    top: 4%; /* Adjusted top position for smaller screens */
    left: 8%; /* Adjusted left position for smaller screens */
  }

  .candidatesHired {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }
}
.maskGroupChild,
.rectangleParent {
  position: absolute;
  top: 358px;
  left: 0;
  width: 219px;
  height: 94px;
}
.maskGroupChild {
  top: 145px;
  left: 175px;
  border-radius: 0 0 0 115px;
  width: 567px;
  height: 402px;
  object-fit: cover;
}
.ellipseParent,
.maskGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 736px;
  height: 555px;
}
.ellipseParent {
  top: 97px;
  left: 696px;
  width: 770px;
  height: 596px;
  font-family: var(--font-space-grotesk);
}
.withRework {
  margin: 0;
  font-size: 48px;
  font-family: var(--font-garnett-regular);
}
.powerUpYourContainer {
  align-self: stretch;
  position: relative;
}
.empowerYourBusiness {
  width: 685px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-family: var(--font-poppins);
  color: var(--black);
  display: inline-block;
}
.heroTitle {
  position: absolute;
  top: 182px;
  left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: 54px;
  color: var(--primary-p100);
  font-family: var(--font-garnett-semibold);
}
.bookADemo {
  position: relative;
  line-height: 28px;
}
.ctaButton {
  position: absolute;
  top: 413px;
  left: 120px;
  border-radius: var(--br-xl);
  background-color: var(--primary-p100);
  box-shadow: 0 8px 18px rgba(174, 93, 255, 0.46);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-37xl);
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.groupIcon {
  width: 20px;
  height: 20px;
}
.groupIcon,
.noCreditRequired {
  position: relative;
}
.groupGroup {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}
.navItem,
.points {
  display: flex;
  justify-content: center;
}
.points {
  position: absolute;
  top: 510px;
  left: 121px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  font-size: var(--font-size-sm);
  color: var(--primary-p100);
}
.navItem {
  flex-direction: row;
  align-items: center;
}
.forEmployers1 {
  position: relative;
  font-weight: 600;
  z-index: 0;
}
.navItemChild {
  width: 37px;
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 39px;
  max-height: 100%;
  z-index: 1;
}
.navItem2,
.navItems {
  display: flex;
  flex-direction: row;
}
.navItem2 {
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--primary-p100);
}
.navItems {
  position: absolute;
  top: 44px;
  left: 295px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.logoChild {
  top: 0;
  left: 42.5px;
  border-radius: 0 5.71px 0 0;
  background-color: var(--primary-p100);
  width: 96.8px;
  height: 40px;
}
.ai,
.logoChild,
.logoItem {
  position: absolute;
}
.logoItem {
  top: 0;
  left: 0;
  border-radius: 5.71px;
  border: 1.4px solid var(--primary-p100);
  box-sizing: border-box;
  width: 117.8px;
  height: 40px;
}
.ai {
  top: 24px;
  left: 122px;
}
.r {
  letter-spacing: -0.02em;
}
.e {
  letter-spacing: 0.08em;
}
.re {
  font-weight: 600;
}
.work {
  letter-spacing: -0.02em;
  font-family: var(--font-actor);
  color: var(--color-white);
}
.logo,
.rework {
  position: absolute;
  top: 8px;
  left: 7.8px;
  font-size: var(--font-size-16xl-5);
  color: var(--primary-p100);
  font-family: var(--font-outfit);
}
.logo {
  top: 36px;
  left: 120px;
  width: 139px;
  height: 40px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs-4);
  color: var(--color-white);
  font-family: var(--font-gilroy-regular);
}
.logIn {
  position: relative;
  font-weight: 500;
  z-index: 0;
}
.vectorIcon1,
.vectorIcon2 {
  width: 18px;
  position: relative;
  height: 0;
}
.vectorIcon2 {
  width: 7px;
  height: 14px;
  margin-left: -5px;
}
.arrow,
.simpleButton,
.simpleButton1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 1px;
  margin: 0 !important;
  position: absolute;
  top: 21.5px;
  left: 112px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.simpleButton,
.simpleButton1 {
  border-radius: var(--br-3xs);
  height: 44px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base);
}
.simpleButton {
  width: 129px;
  border: 2px solid var(--primary-p100);
  padding: var(--padding-sm) var(--padding-11xl);
}
.simpleButton1 {
  background-color: var(--primary-p100);
  padding: var(--padding-sm) var(--padding-5xl);
  color: var(--color-white);
}
.simpleButtonParent {
  position: absolute;
  top: 34px;
  left: 1022px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  font-size: var(--font-size-lg);
  color: var(--primary-p100);
}
.navItemsParent {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 112px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.happyCompanies,
.rectangleGroup {
  position: absolute;
  top: 20px;
  left: 95px;
}
.rectangleGroup {
  top: 586px;
  left: 852px;
  width: 219px;
  height: 94px;
  font-family: var(--font-space-grotesk);
}
.groupParent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 718px;
  overflow: hidden;
  font-size: var(--font-size-5xl-9);
  color: var(--primary-300);
}
.forEmployersChild {
  position: absolute;
  top: 0;
  margin-left:0px;
  width: 140px;
  height: 41px;
}
.google20151Icon,
.microsoft1Icon {
  width: 131px;
  position: relative;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
}
.google20151Icon {
  width: 99px;
  height: 31px;
}
.kisspngAmazonComLogoBrandIcon,
.kisspngNokiaNetworksLogoNyIcon {
  width: 106px;
  position: relative;
  height: 38px;
  object-fit: cover;
}
.kisspngNokiaNetworksLogoNyIcon {
  width: 131px;
  height: 26px;
}
.vectorIcon6 {
  width: 140px;
  position: relative;
  height: 42px;
}
.hireFor1000BrandsIncludinParent,
.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-left: -300px; */
}
.logos {
  flex-direction: row;
  gap: 80px;
}
.hireFor1000BrandsIncludinParent {
  position: absolute;
  top: 718px;
  left: calc(35% - 719px);
  background-color: var(--primary-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1439px;
  overflow: hidden;
  flex-direction: column;
  padding: 50px 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: 20px;
  color: var(--primary-200);
}
.vectorIcon7 {
  position: absolute;
  top: 1968px;
  left: 507px;
  width: 25px;
  height: 25px;
}
.step3 {
  position: absolute;
  top: 14px;
  left: calc(50% - 48.5px);
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 98px;
}
.step3Wrapper {
  position: absolute;
  top: 2842px;
  left: calc(20% + 815px);
  border-radius: var(--br-3xs);
  background-color: var(--primary-300);
  width: 247px;
  height: 78px;
  overflow: hidden;
  font-size: 28px;
}
.operates {
  font-family: var(--font-garnett-regular);
}
.howOurSystemContainer {
  position: absolute;
  top: 95px;
  left: calc(50% - 329px);
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  width: 658px;
  font-family: var(--font-garnett-semibold);
}
.uploadDocuments {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  font-weight: 600;
  z-index: 0;
}
.shortlistTheMostQualifiedCWrapper,
.stepsInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stepsInner {
  height: 100px;
  justify-content: flex-start;
  z-index: 1;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
}
.stepsChild {
  width: 84px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.3px;
  border-radius: 0 0 0 var(--br-3xs);
  height: 84px;
  z-index: 2;
}
.steps1 {
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-41xl);
  z-index: 2;
}
.followTheLink,
.signUp,
.steps1 {
  align-self: stretch;
  position: relative;
}
.signUp {
  line-height: 28px;
  z-index: 0;
}
.followTheLink {
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-dimgray-100);
  display: inline-block;
  height: 100px;
  flex-shrink: 0;
  z-index: 1;
}
.mingcuteuserAddLineIcon {
  width: 84px;
  position: absolute;
  margin: 0 !important;
  right: -0.4px;
  bottom: 0;
  border-radius: var(--br-3xs) 0 0 0;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.steps2 {
  flex: 1;
  background-color: var(--primary-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-41xl);
  z-index: 1;
  color: var(--black);
  font-family: var(--font-garnett-semibold);
}
.asSoonAs,
.getRewards,
.steps2 {
  align-self: stretch;
  position: relative;
}
.getRewards {
  line-height: 28px;
  font-weight: 600;
  z-index: 0;
}
.asSoonAs {
  display: inline-block;
  height: 54px;
  flex-shrink: 0;
}
.stepsItem {
  width: 84px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  border-radius: 0 0 0 var(--br-3xs);
  height: 84px;
  z-index: 2;
}
.steps3,
.stepsParent {
  display: flex;
  align-items: center;
}
.steps3 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-11xl) var(--padding-41xl);
  position: relative;
  z-index: 0;
}
.stepsParent {
  position: absolute;
  top: 259px;
  left: 120px;
  border-radius: 8px;
  width: 1198px;
  height: 282px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.simpleButton2,
.steps {
  position: absolute;
  background-color: var(--white);
}
.simpleButton2 {
  top: 630px;
  left: calc(50% - 82.5px);
  border-radius: var(--br-3xs);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid var(--primary-p100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xl);
  gap: var(--gap-base);
  font-size: var(--font-size-lg);
}
.steps {
  top: 1863px;
  left: calc(35% - 718px);
  width: 1438px;
  height: 784px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-19xl);
}
.chooseYourSimpleContainer {
  position: absolute;
  top: 67px;
  left: calc(50% - 437px);
  font-size: var(--font-size-23xl);
  line-height: 50px;
  text-transform: capitalize;
  text-align: left;
}
.suitableForCompanies {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.icons {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.interviewReadyCandidates {
  flex: 1;
  position: relative;
}
.iconsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameContainer,
.suitableForCompaniesWith5Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameContainer {
  align-self: stretch;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.suitableForCompaniesWith5Parent {
  position: absolute;
  top: 184px;
  left: calc(50% - 148px);
  width: 296px;
  gap: var(--gap-xl);
}
.div,
.month {
  position: relative;
}
.div {
  font-weight: 500;
}
.month {
  font-family: var(--font-garnett-medium);
}
.div1,
.month1,
.parent {
  display: flex;
  align-items: center;
}
.parent {
  position: absolute;
  top: 34px;
  left: calc(50% - 46px);
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-4xl);
  font-family: var(--font-space-grotesk);
}
.div1,
.month1 {
  position: relative;
  justify-content: center;
  flex-shrink: 0;
}
.div1 {
  align-self: stretch;
  width: 26px;
  font-weight: 500;
  font-family: var(--font-space-grotesk);
}
.month1 {
  width: 61px;
  font-size: var(--font-size-base);
  height: 38px;
}
.group {
  position: absolute;
  top: 82px;
  left: calc(50% - 113px);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
}
.getStarted2 {
  position: relative;
  z-index: 0;
}
.simpleButton3 {
  position: absolute;
  top: 567px;
  left: 36px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-p100);
  box-shadow: 0 20px 40px rgba(92, 39, 192, 0.35);
  width: 296px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frameGroup {
  width: 366px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(118, 118, 118, 0.35);
  height: 656px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--primary-300);
  font-family: var(--font-poppins);
}
.container,
.parent1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container {
  top: 34px;
  left: calc(50% - 54.5px);
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-4xl);
  font-family: var(--font-space-grotesk);
}
.parent1 {
  top: 82px;
  left: calc(50% - 112.5px);
  align-items: flex-end;
  font-size: var(--font-size-21xl);
}
.frameWrapper,
.mostPopularWrapper,
.simpleButton4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.simpleButton4 {
  position: absolute;
  top: 567px;
  left: 36px;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 20px 40px rgba(92, 39, 192, 0.35);
  width: 296px;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--primary-p100);
  font-family: var(--font-poppins);
}
.frameWrapper,
.mostPopularWrapper {
  justify-content: flex-start;
}
.frameWrapper {
  position: absolute;
  top: 0;
  left: 234.5px;
  border-radius: 0 0 0 var(--br-8xs);
  background-color: #ffb649;
  width: 132px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.frameParent1 {
  width: 366px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--primary-p100);
  box-shadow: 0 20px 40px rgba(118, 118, 118, 0.35);
  height: 656px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--white);
}
.parent2,
.parent3 {
  justify-content: flex-start;
}
.parent2 {
  position: absolute;
  top: 34px;
  left: calc(50% - 55px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-4xl);
  font-family: var(--font-space-grotesk);
}
.parent3 {
  top: 82px;
  left: calc(50% - 112.5px);
  align-items: flex-end;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
}
.frameParent,
.parent3,
.simpleButton6 {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.frameParent {
  top: 184px;
  left: 120px;
  width: 1197px;
  align-items: flex-start;
  justify-content: space-between;
  font-family: var(--font-garnett-medium);
}
.simpleButton6 {
  bottom: 56px;
  left: calc(50% - 90px);
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.22);
  border: 2px solid var(--primary-p100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-11xl);
  gap: var(--gap-base);
  font-family: var(--font-poppins);
}
.pricingPlans {
  position: absolute;
  top: 2647px;
  left: calc(35% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 1044px;
  overflow: hidden;
  text-align: center;
  font-family: var(--font-garnett-semibold);
}
.testimonials1 {
  font-family: var(--font-garnett-regular);
  color: var(--color-gray-600);
  
}
.customerTestimonials {
  position: absolute;
  top: 68px;
  left: calc(50% - 599px);
  font-size: var(--font-size-23xl);
  font-family: var(--font-garnett-semibold);
}
.reworkHasBeen {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.frameChild {
  width: 50px;
  position: relative;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}
.hrManagerAmazon,
.theresaWebb {
  position: relative;
  line-height: 32px;
}
.hrManagerAmazon {
  font-size: var(--font-size-base);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--neutrals-300);
}
.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.component16,
.ellipseGroup {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.ellipseGroup {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-lgi);
  font-size: var(--font-size-5xl);
  color: var(--primary-p100);
  font-family: var(--font-garnett-regular);
}
.component16 {
  border-radius: var(--br-base);
  background-color: var(--primary-300);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-11xl);
}
.reworkHasBeen1 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  white-space: pre-wrap;
}
.component16Parent,
.frameParent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component16Parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frameParent5 {
  position: absolute;
  top: 242px;
  left: 120px;
  width: 1198px;
  flex-direction: row;
  gap: 24px;
  color: var(--color-black);
}
.whatOthersHas {
  position: absolute;
  top: 129px;
  left: calc(50% - 599px);
  color: var(--color-gray-600);
}
.testimonials {
  position: absolute;
  top: 4445px;
  left: calc(35% - 719px);
  background-color: var(--color-gray-100);
  width: 1438px;
  height: 1161px;
  overflow: hidden;
}
.successStories1 {
  position: absolute;
  top: 77px;
  left: calc(50% - 171px);
  text-transform: capitalize;
}
.unsplashmpdlxiig0p0Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 245px;
  flex-shrink: 0;
  object-fit: cover;
}
.weveBeenAble {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 27px;
  font-family: var(--font-poppins);
  color: var(--neutrals-300);
}
.reworkHasBeenAGreatWayToParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-xl);
  gap: var(--gap-11xl);
}
.component113,
.component11Parent,
.reworkHasBeenAGreatWayToParent {
  display: flex;
  justify-content: flex-start;
}
.component113 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--neutrals-white);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.component11Parent {
  position: absolute;
  top: 188px;
  left: calc(50% - 597px);
  width: 1192px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-4xl);
  color: var(--color-gray-300);
  font-family: var(--font-garnett-medium);
}
.frameChild3,
.frameChild4 {
  width: 34px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--primary-p100);
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameChild4 {
  width: 81px;
  background-color: var(--primary-300);
}
.frameParent6 {
  position: absolute;
  top: 745px;
  left: calc(50% - 64px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.discoverTheFutureContainer,
.successStories {
  font-size: var(--font-size-23xl);
  font-family: var(--font-garnett-semibold);
}
.successStories {
  position: absolute;
  top: 6008px;
  left: calc(35% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 837px;
  overflow: hidden;
}
.discoverTheFutureContainer {
  align-self: stretch;
  position: relative;
  color: var(--primary-p100);
}
.manualVsMachineBased {
  font-family: var(--font-poppins);
}
.theTruthAboutInterviewAs {
  margin-bottom: 0;
}
.manualVsMachineBasedHirin {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.discoverTheFutureOfTalentParent {
  position: absolute;
  top: 113px;
  left: 120px;
  width: 773px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.downloadNowFor {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.ctaButton1 {
  bottom: 110px;
  left: calc(50% - 600px);
  border-radius: var(--br-xl);
  background-color: var(--primary-p100);
  box-shadow: 0 8px 18px rgba(174, 93, 255, 0.46);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-37xl);
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
}
.cta,
.ctaButton1,
.ctaChild {
  position: absolute;
}
.ctaChild {
  top: 81px;
  left: 933px;
  border-radius: 12px;
  width: 387px;
  height: 563px;
  object-fit: cover;
}
.cta {
  top: 3691px;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 754px;
  overflow: hidden;
  color: var(--color-gray-400);
}
.reductionInYour {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
}
.stats1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.statsChild {
  align-self: stretch;
  width: 2px;
  position: relative;
  border-right: 2px solid var(--primary-p100);
  box-sizing: border-box;
}
.stats {
  position: absolute;
  top: calc(50% - 84px);
  left: calc(50% - 194px);
  width: 796px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.howReworkAiContainer {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 601px);
  font-size: var(--font-size-19xl);
  display: inline-block;
  width: 381px;
  font-family: var(--font-garnett-medium);
}
.statsParent {
  position: absolute;
  top: 5606px;
  left: 1px;
  background-color: var(--white);
  width: 1438px;
  height: 402px;
  overflow: hidden;
  font-size: var(--font-size-31xl);
  font-family: var(--font-space-grotesk);
}
.frequentlyAskedQuestionsContainer {
  position: absolute;
  top: 107px;
  left: calc(50% - 330px);
  color: var(--primary-p100);
  display: inline-block;
  width: 661px;
  font-family: var(--font-garnett-semibold);
}
.weHaveCompiled {
  position: absolute;
  top: 188px;
  left: calc(50% - 409px);
  font-size: var(--font-size-base);
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 818px;
}
.howCanI,
.loremIpsumDolor {
  position: absolute;
  top: 24px;
  left: 28px;
  line-height: 22px;
  font-weight: 500;
}
.loremIpsumDolor {
  top: 70px;
  font-size: var(--font-size-base);
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 794px;
  height: 53px;
}
.typcnplusIcon {
  position: absolute;
  top: 21px;
  left: 802px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.howCanIGetStartedWithRewParent {
  width: 854px;
  position: relative;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-p100);
  box-sizing: border-box;
  height: 139px;
  overflow: hidden;
  flex-shrink: 0;
}
.howCanI1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.howCanIGetStartedWithRewContainer,
.howCanIGetStartedWithRewGroup {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 2px solid var(--primary-p100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-10xl);
}
.howCanIGetStartedWithRewContainer {
  padding: var(--padding-2xl) var(--padding-11xl);
}
.frameParent7 {
  position: absolute;
  top: 306px;
  left: calc(50% - 427px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-lg);
}
.hero {
  position: absolute;
  top: 6845px;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 1177px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--black);
}
.optimizeYourHiring {
  width: 1175px;
  position: relative;
  display: flex;
  align-items: center;
}
.discoverTheStrengths {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
  color: var(--color-gray-400);
}
.optimizeYourHiringStrategyParent {
  position: absolute;
  top: 113px;
  left: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.ctaButton2 {
  position: absolute;
  bottom: 125px;
  left: calc(50% - 595px);
  border-radius: var(--br-xl);
  background-color: var(--primary-p100);
  box-shadow: 0 8px 18px rgba(174, 93, 255, 0.46);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-37xl);
  font-size: var(--font-size-5xl);
  color: var(--color-snow);
  font-family: var(--font-poppins);
}
.cta1 {
  position: absolute;
  top: 8022px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 587px;
  overflow: hidden;
  font-size: var(--font-size-23xl);
  font-family: var(--font-garnett-semibold);
}
.eosIconsai {
  width: 50px;
  position: relative;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.heroTitle1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.zeroOverheadIn {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-poppins);
  color: var(--color-gray-500);
}
.eosIconsaiParent {
  width: 343.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.recruitmentByTat {
  margin: 0;
  font-family: var(--font-garnett-regular);
}
.vectorIcon18 {
  width: 43px;
  position: relative;
  height: 32.2px;
  z-index: 0;
}
.vectorIcon19 {
  width: 66.74%;
  position: absolute;
  margin: 0 !important;
  height: 55.59%;
  top: 21.43%;
  right: 14.65%;
  bottom: 22.98%;
  left: 18.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vectorParent {
  position: absolute;
  top: 5px;
  left: 3.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vectorIcon20 {
  width: 36px;
  position: relative;
  height: 36px;
  z-index: 0;
}
.vectorIcon21,
.vectorIcon22,
.vectorIcon23 {
  width: 61.11%;
  position: absolute;
  margin: 0 !important;
  height: 38.89%;
  top: 41.67%;
  right: 27.78%;
  bottom: 19.44%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vectorIcon22,
.vectorIcon23 {
  width: 8.33%;
  height: 15.28%;
  top: 70.83%;
  right: 13.89%;
  bottom: 13.89%;
  left: 77.78%;
  z-index: 2;
}
.vectorIcon23 {
  width: 33.33%;
  height: 19.44%;
  top: 0;
  right: 38.89%;
  bottom: 80.56%;
  left: 27.78%;
  z-index: 3;
}
.vectorGroup {
  position: absolute;
  top: 6px;
  left: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.healthiconsiScheduleSchool {
  width: 48px;
  position: relative;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent9 {
  position: absolute;
  top: 244px;
  left: 120px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.frameChild5 {
  position: absolute;
  top: 51px;
  left: 595px;
  width: 975px;
  height: 50px;
}
.ourAmazingBenefitsContainer {
  position: absolute;
  top: 101px;
  left: 221px;
  font-size: var(--font-size-23xl);
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;
  display: inline-block;
  width: 997px;
}
.frameParent8 {
  position: absolute;
  top: 920px;
  left: -2px;
  width: 1440px;
  height: 943px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  font-family: var(--font-garnett-semibold);
}
.forEmployers {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 9844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-p100);
  font-family: var(--font-poppins);
}
